In [67]:

from datetime import datetime
current_time = datetime.now().strftime("%Y_%m_%d_%H_%M_%S")
JSON_FILE = 'bookmarks/twitter_bookmarks_20240903.json'
PROCESSED_FOLDER = f'processed/{current_time}'
CSV_FILE = PROCESSED_FOLDER + '/twitter_bookmarks.csv'
CLEANED_JSON_FILE = PROCESSED_FOLDER + '/twitter_bookmarks_cleaned.json'

In [68]:
!mkdir $PROCESSED_FOLDER
!mkdir 'bookmarks'

mkdir: bookmarks: File exists

In [69]:
def process_json_data_to_csv(json_data):
  with open(CSV_FILE, 'a') as f:
    f.write("counter,author,content,url,image_urls,video_urls\n")
    for item in json_data:
      counter = item.get('counter', '')
      author = item.get('author', '')
      content = item.get('content', '')
      url = item.get('url', '')
      image_urls = item.get('image_urls', '')
      video_urls = item.get('video_urls', '')
      f.write(f"{counter},{author},{content},{url},{image_urls},{video_urls}\n")

def process_json_data_to_json(json_data):
  cleaned_data = []
  counter = 1
  for item in json_data:
    item["counter"] = str(counter)
    counter+=1
    for key in item:
      if type(item[key]) == str:
        item[key] = item[key].strip().replace('\n', ' ').replace('\t', ' ').replace(',', ' ')
      elif type(item[key]) == list:
        item[key] = ' '.join(item[key]).strip().replace('\n', ' ').replace('\t', ' ').replace(',', ' ')
    cleaned_data.append(item)

  import json
  with open(CLEANED_JSON_FILE, 'w') as f:
    json.dump(cleaned_data, f, indent=4)

In [70]:
import json

with open(JSON_FILE, 'r') as f:
  json_data = json.load(f)

In [71]:
process_json_data_to_json(json_data)

In [72]:
with open(CLEANED_JSON_FILE, 'r') as f:
  json_data_cleaned = json.load(f)

process_json_data_to_csv(json_data_cleaned)

In [73]:
import pandas as pd
df = pd.read_csv(CSV_FILE, sep=',')
df.tail(5)

,counter,author,content,url,image_urls,video_urls
981,982,Namya @ Supafast @namyakhann · Aug 25 2023,As requested here're 12 gray alternatives for...,https://x.com/namyakhann/status/16950056209766...,https://pbs.twimg.com/media/F4XeoPUaYAALPXl?fo...,NaN
982,983,ʞǝǝǝǝʎǝԀ @peyeeeek · Aug 24 2023,Monggo,https://x.com/peyeeeek/status/1694600639664541938,https://pbs.twimg.com/amplify_video_thumb/1694...,blob:https://x.com/d01de03f-1dfc-47f0-b848-e64...
983,984,Gading Nasution ᵍⁿ @gadingnstn · Jul 2 2023,buat deploy BE + Database gratisan. enakan ht...,https://x.com/gadingnstn/status/16754173495273...,NaN,NaN
984,985,Ahnaf | Sukses Kuliah! @ahnafau · Jun 27 2023,Gimana cara mulai magang saat CV masih kosong?...,https://x.com/ahnafau/status/1673672800131842050,https://pbs.twimg.com/media/FzoUid5X0AEQ0pm?fo...,NaN
985,986,"Eza ""Disclaimer"" Hazami @ezash · Mar 19 2023",Ada iPhone 5s ga kepake semua fungsi normal d...,https://x.com/ezash/status/1637286495223693312,https://pbs.twimg.com/media/FrjPYaMaUAADsZi?fo...,NaN

In [74]:


# dictionary where the value are dataframes
term_dict = {}
df_dict = {}
name_list = ["math", "idol", "tech", "other"]

term_dict["math"] = ["math", "find ", "geometry", "other", "theorem", "puzzle", "TaghiBehradfar",
                     "mirangu", "cetin", "solution", "barra", "calculate", "angle", "Ahmet____CETiN"
                     "prove", "proof", "question", "silverbali7", "mathematical", "maths", 
                     "preshtalwalkar", "fermat", "viteric", "area", "maliuhudmuaz", "length", 
                     "diagonal", "figure", "midpoint", "Curios02435570", "elktrontrbyecsi",
                     "castaneda_arcas", "1008138i" ,"cesscabral", "elktrontrbyecsi", "Hass12314",
                     "bmhmr"]
term_dict["idol"] = ["idol", "oshi", "jkt48", "48", "lana", "erin", "elin", "ella", "peyeeeek",
                     "yokanang", "greesel", "kamaniya", "lockscreen", "ofc", "photobook",
                     "cynthia", "wota","jeketi", "pajama", "cepio", "fiony", "aisa",
                     "flora", "maeng", "icel", "kathy", "keti", "gracie", "rohmatkun",
                     "emot", "neru", "andiano", "flyingglunt", "nagaginy", "regie", "moreen", 
                     "lily", "callie", "delynn", "cathy", "pappp99", "fritzy",
                     "trisha", "chocofy", "omang", "chocolatpurple", "_hendraprnma", "dlayyyyyyyy",
                     "Marshiegk", "michi", "motoshi_64", "gnitepun", "pocary_s", "dnthy",
                     "piw piw", "rezaaagr", "putripramess", "oniel", "habisnontonfilm",
                     "naisvv", "owenudinson", "rdnadn", "ZakZacky492655", "dagdigdugdeerr", 
                     "meledakduarduar", "ajkneptunn", "safarunithea", "fahriajaoke", "tgif", "hndprnma",
                     "semaniscokl4t", "av__node", "parellzz", "versi_jelek", "amawmawa", "alfarosiyoga", 
                     "sokmatew", "fireodyssey", "hillaryours", "sonysoes", "nazarkinggg", "alipprangga",
                     "kameeeha"]
term_dict["tech"] = ["code","coding", "tech", "program", "web", "memory", "software",
                     "dev", "engineer", "deploy", "backend", "frontend",
                     "html", "javascript", "css", "js", "zakiego", "aria_ghora", "system", "react",
                     "php","lynxluna", "papanberjalan", "lwastuargo", "recursive", "git"]

In [90]:
for k in name_list:
  df_dict[k] = pd.DataFrame(columns=["counter", "author", "content", "url", "image_urls", "video_urls"])

def classify_df(df, df_dict):
  for index, row in df.iterrows():
    content = str(row['content']).encode('ascii', 'ignore').decode().lower()
    author = str(row['author']).encode('ascii', 'ignore').decode().lower()
    found = False
    query = content + " " + author
    for key in term_dict.keys():
      # make code below to check entire word, not just substring
      if any(term.lower() in query for term in term_dict[key]):
        df_dict[key].loc[len(df_dict[key])] = row
        found = True
        break
    if not found:
      df_dict["other"].loc[len(df_dict["other"])] = row

def save_df_to_csv(df_dict):
  for k, v in df_dict.items():
    v.to_csv(PROCESSED_FOLDER + f"/{k}.csv", index=False)

import csv
import json

def csv_to_json(csv_file_path, json_file_path):
    # List to store the JSON data
    json_data = []

    # Read the CSV file
    with open(csv_file_path, 'r', newline='', encoding='utf-8') as csvfile:
        csv_reader = csv.DictReader(csvfile)
        
        # Iterate through each row in the CSV
        for row in csv_reader:
            # Convert image_urls and video_urls to lists if they're not empty
            row['image_urls'] = row['image_urls'].split(" ") if row['image_urls'] else []
            row['video_urls'] = row['video_urls'].split(" ") if row['video_urls'] else []
            
            # Append the row to the JSON data list
            json_data.append(row)

    # Write the JSON data to a file
    with open(json_file_path, 'w', encoding='utf-8') as jsonfile:
        json.dump(json_data, jsonfile, ensure_ascii=False, indent=4)

    print(f"Conversion complete. JSON data saved to {json_file_path}")

# Example usage
# csv_to_json('input.csv', 'output.json')

def save_df_to_json(df_dict):
  for k, v in df_dict.items():
    csv_to_json(PROCESSED_FOLDER + f"/{k}.csv", PROCESSED_FOLDER + f"/{k}.json")

In [77]:
classify_df(df, df_dict)

In [78]:
len(df_dict["other"])

87

In [79]:
len(df_dict["math"])+len(df_dict["idol"])+len(df_dict["tech"])+len(df_dict["other"])

986

In [80]:
# Call the function for each DataFrame
save_df_to_csv(df_dict)

In [92]:
save_df_to_json(df_dict)

Conversion complete. JSON data saved to processed/2024_09_03_14_28_40/math.json
Conversion complete. JSON data saved to processed/2024_09_03_14_28_40/idol.json
Conversion complete. JSON data saved to processed/2024_09_03_14_28_40/tech.json
Conversion complete. JSON data saved to processed/2024_09_03_14_28_40/other.json

In [113]:
test = "arman @armaniaghat · Feb 25 Fiverr and LinkedIn are trash!  Finding remote jobs is tough on these oversaturated sites.  So apply on these 7 sites instead:  (Pay USD)"
test1 = "Ahnaf Sukses Kuliah! ahnafau 2023 Gimana cara mulai magang saat CV masih kosong? Yap itu pertanyaanku juga ketika dapat banyak penolakan magang.  Tapi kalian tau gak sih sekarang kita bisa apply magang di perusahaan besar dan PASTI KETERIMA + dapet sertifikat magang?  Mau spill gakk?",
test2 = "Vicario Reinaldo vicarioreinaldo Aug 3 Meeting sering kali jadi formalitas aja dan ga efisien  Bukannya membantu malah sering ganggu tugas prioritas  Nah bikin target dan plan aja ga cukup  5 metode ini bisa bantu lo mengelola meeting dengan lebih efisien"

In [117]:
for key in term_dict.keys():
      for term in term_dict[key]:
        if term.lower() in str(test1).strip().replace('\n', ' ').replace('\t', ' ').replace(',', ' ').lower():
          print(term)

keti